@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://elements.envato.com/rafeny-modern-beauty-logo-font-74D5T6E?utm_nooverride=1');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
